@import url(/css/font.css);

* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --ff-dosis: dosis;
    --clr-light-white: #fbfbf9;
}

body {
    font-family: var(--ff-dosis);
    background-color: var(--clr-light-white);
}

section.banner {
    margin-top: 5rem;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.712)), url(../assets/images/green-field-tree-blue-skygreat-as-backgroundweb-banner-generative-ai.jpg) no-repeat 50% 20% / cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.wrapper {
    width: min(85%, 1140px);
    padding: 1rem 0;
    margin: 0 auto;
}

div.product-banner {
    display: flex;
    gap: 2rem;
    /* transform: scale(1.1); */
}

div.logo-box {
    width: 100px;
    height: 140px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

div.product-banner .logo-box img {
    width: 100%;
    object-position: bottom;
    position: relative;
    top: 19px;
}

div.right-header {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    justify-content: center;
}

div.right-header .right-header__title {
    display: flex;
    color: #efefef;
    text-transform: capitalize;
    transition: .5s linear;
    font-size: 2.5rem;
    gap: 1rem;
    cursor: pointer;
}


div.right-header .right-header__title:hover {
    color: #08f5cd;
}

div.icon {
    padding: 5px 0;
    /* display: flex; */
    gap: .4rem;
    /* align-items:center; */
    /* text-align: center; */
    color: #efefef;
    font-weight: 800;
}

div.icon>ol.breadcrumb {
    display: flex;
    /* align-items: center; */
    gap: .2rem;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

div.icon>ol li {
    text-decoration: none;
    list-style-type: none;
    margin: 0px;
    display: flex;
    text-align: center;
    align-items: center;
    gap: .2rem;
    cursor: pointer;
    /* border: 1px solid red; */
}

div.icon>ol li>a {
    color: #efefef;
    display: flex;
    text-align: center;
    align-items: center;
    gap: .3rem;
    text-decoration: none;
    /* padding: 0 .5rem; */
    position: relative;
}


.active {
    color: rgb(255, 230, 0);
}

.products {
    padding: 3rem 0;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    background-color: #ececec;
}

.products .product-item {
    display: flex;
    gap: 2rem;
    padding: 0;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(197, 193, 193, 0.295);
    background: #fff;
}

.products .product-item>.image-wrapper {
    display: flex;
    max-width: 45%;
    position: relative;
    overflow: hidden;
    transform-origin: center;

}

.products .product-item>.image-wrapper:hover img {
    transform: scale(1.1);
    object-fit: cover;

}

.products .product-item>.image-wrapper img {
    width: 100%;
    object-fit: cover;
    transition: .5s linear;
}

.product-item .product-info {
    padding: 1rem;
    max-width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-item .product-info h2 {
    font-size: 33px;
    margin: 1.5rem 0;
    text-transform: capitalize;
}

.product-item .product-info h2 + p {
    font-size: 1.2rem;
    max-width: 99%;
    line-height: 1.5rem;
    font-weight: 100;
    opacity: .5;
    margin-bottom: 10px;
}
.product-info .bold-label {
    font-weight: 800;
    text-transform: capitalize;
    font-size: 1.2rem;
}

.product-info ul {
   /* margin: .5rem 0; */
   text-decoration: none;
   list-style:decimal;
   /* line-height: 1.5rem; */
   color: rgb(63, 63, 63);
}

.product-info button {
    margin: 1rem 0;
    appearance: none;
    border: none;
    outline: 2px solid black;
    border-radius: .1rem;
    padding: 1rem 4rem;
    background: #fff;
    box-shadow: 5px 5px 0 1px black;
    transition: .5s linear;
    font-size: 1.2rem;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
}

.product-info button:hover  {
   box-shadow: none;
}
